body {
  background-color: #E4E3E3 ;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.navMainLink {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

/*coloured title in navbar*/
.nav-title {
  background-color: #84a9ac;
  padding: 13px 20px;
}
.navbar-full {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #3b6978;
}
/* grey divider and padding between navbar links */
.link-border {
  border-right: 1px solid darkgrey;
  border-left: 1px solid darkgrey;
}
.link-gap,
.link-border {
  padding-right: 10px;
  padding-left: 10px;
}
.nav-link {
  color: white !important;
}
.nav-link:hover {
  color: #204051 !important;
}

